$icons: (
    mobile: "\e000",
    laptop: "\e001",
    desktop: "\e002",
    tablet: "\e003",
    phone: "\e004",
    document: "\e005",
    documents: "\e006",
    search: "\e007",
    clipboard: "\e008",
    newspaper: "\e009",
    notebook: "\e00a",
    book-open: "\e00b",
    browser: "\e00c",
    calendar: "\e00d",
    presentation: "\e00e",
    picture: "\e00f",
    pictures: "\e010",
    video: "\e011",
    camera: "\e012",
    printer: "\e013",
    toolbox: "\e014",
    briefcase: "\e015",
    wallet: "\e016",
    gift: "\e017",
    bargraph: "\e018",
    grid: "\e019",
    expand: "\e01a",
    focus: "\e01b",
    edit: "\e01c",
    adjustments: "\e01d",
    ribbon: "\e01e",
    hourglass: "\e01f",
    lock: "\e020",
    megaphone: "\e021",
    shield: "\e022",
    trophy: "\e023",
    flag: "\e024",
    map: "\e025",
    puzzle: "\e026",
    basket: "\e027",
    envelope: "\e028",
    streetsign: "\e029",
    telescope: "\e02a",
    gears: "\e02b",
    key: "\e02c",
    paperclip: "\e02d",
    attachment: "\e02e",
    pricetags: "\e02f",
    lightbulb: "\e030",
    layers: "\e031",
    pencil: "\e032",
    tools: "\e033",
    tools-2: "\e034",
    scissors: "\e035",
    paintbrush: "\e036",
    magnifying-glass: "\e037",
    circle-compass: "\e038",
    linegraph: "\e039",
    mic: "\e03a",
    strategy: "\e03b",
    beaker: "\e03c",
    caution: "\e03d",
    recycle: "\e03e",
    anchor: "\e03f",
    profile-male: "\e040",
    profile-female: "\e041",
    bike: "\e042",
    wine: "\e043",
    hotairballoon: "\e044",
    globe: "\e045",
    genius: "\e046",
    map-pin: "\e047",
    dial: "\e048",
    chat: "\e049",
    heart: "\e04a",
    cloud: "\e04b",
    upload: "\e04c",
    download: "\e04d",
    target: "\e04e",
    hazardous: "\e04f",
    piechart: "\e050",
    speedometer: "\e051",
    global: "\e052",
    compass: "\e053",
    lifesaver: "\e054",
    clock: "\e055",
    aperture: "\e056",
    quote: "\e057",
    scope: "\e058",
    alarmclock: "\e059",
    refresh: "\e05a",
    happy: "\e05b",
    sad: "\e05c",
    facebook: "\e05d",
    twitter: "\e05e",
    googleplus: "\e05f",
    rss: "\e060",
    tumblr: "\e061",
    linkedin: "\e062",
    dribbble: "\e063"
);

//
[class^="icon-"],
[class*=" icon-"],
[data-icon]{
    @include icon;
}
// Setup a class name for each icon
@each $name, $char in $icons {
    .icon-#{$name} {
        &:before {
            content: $char;
        }
    }
}